<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        Welcome!
      {% endblock %}
    </title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>" />
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </head>
  <body>
    <div class="section-full bg-light">
      <div class="section center">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">MVC</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{path('about')}}">About</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">kmom</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="{{path('report')}}#kmom01">kmom01</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{{path('report')}}#kmom02">kmom02</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{{path('report')}}#kmom03">kmom03</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{{path('report')}}#kmom04">kmom04</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{{path('report')}}#kmom05">kmom05</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{{path('report')}}#kmom06">kmom06</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{path('lucky')}}">Lucky</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{{path('api')}}">API</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <br />

    <div class="section-full">
      <div class="section center bg-light rounded">
        <div class="section-content">
          {% block body %}

          {% endblock %}
        </div>
      </div>
    </div>

    <div class="section-full bg-light footer fixed-bottom border-top">
      <div class="section center">
        <div class="section-content container">
          <div class="row">
            <div class="col-6 text-sm-start">Github: <a href="https://github.com/hota24/mvc">hota24@mvc</a></div>
            <div class="col-6 text-sm-end">&copy; 2025 Minh</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
